/* login.css */

body {
    font-family: 'Work Sans', sans-serif;
    position: relative;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
}

body::before {
    content: '';
    background: url('/img/trip.jpg') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(5px);
    z-index: 1;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px; /* Maggiore padding per un box più grande */
    border-radius: 10px; /* Maggiore raggio per gli angoli */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
    text-align: center; /* Centra il testo all'interno del box */
    width: 450px; /* Aumenta la larghezza del box */
    position: relative;
    z-index: 2;
}

h1 {
    font-family: 'Dancing Script', cursive; /* Font applicato solo all'h1 */
    font-size: 36px; /* Dimensione del font aumentata */
    margin-bottom: 10px;
    color: #00359a;
}

h2 {
    font-size: 22px; /* Dimensione del sottotitolo aumentata */
    margin-bottom: 20px;
    color: #666;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    text-align: center; /* Centra le label */
}

input[type="text"],
input[type="password"] {
    width: 90%; /* Larghezza del 90% per centrare all'interno del box */
    padding: 12px;
    margin: 0 auto 15px; /* Margine auto per centrare */
    border: 1px solid #007bff;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f0f8ff;
    color: #333;
    display: block; /* Assicura che il campo di input sia un blocco */
}

button {
    width: 45%; /* Larghezza del 45% per i bottoni */
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0 2%; /* Margine orizzontale per separare i bottoni */
}

button[type="submit"] {
    background-color: #00359a;
    color: white;
}

button[type="reset"] {
    background-color: #dc3545;
    color: white;
}

button:hover {
    opacity: 0.8;
}

#logoutButton {
    margin-top: 15px;
    background-color: #dc3545;
    color: white;
}