/* Stile base per il body */
body {
    font-family: Arial, sans-serif; /* Font principale del body */
    position: relative;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
}

body::before {
    content: '';
    background: url('/img/trip.jpg') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(5px);
    z-index: 1;
}

header {
    background-color: rgba(255, 255, 255, 0.9); /* Sfondo più chiaro */
    padding: 20px; /* Ridotto il padding */
    border-radius: 10px; /* Maggiore raggio per gli angoli */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
    text-align: center; /* Centra il testo all'interno del box */
    width: 600px; /* Aumentato per maggiore larghezza */
    position: relative;
    z-index: 2;
}

h1 {
    font-family: 'Dancing Script', cursive; /* Font applicato solo all'h1 */
    font-size: 36px; /* Dimensione del font aumentata */
    margin-bottom: 10px;
    color: #00359a;
}

h2 {
    font-size: 16px; /* Dimensione del sottotitolo ridotta */
    margin-bottom: 10px; /* Margine ridotto */
    color: #666;
}

label {
    display: block;
    margin-bottom: 3px; /* Margine ridotto */
    font-weight: bold;
    color: #333;
    text-align: center; /* Centra le label */
}

/* Stile per i campi di input */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="tel"] {
    width: 90%; /* Larghezza del 90% per centrare all'interno del box */
    padding: 8px; /* Ridotto il padding */
    margin: 0 auto 8px; /* Margine auto per centrare */
    border: 1px solid #007bff;
    border-radius: 4px;
    font-size: 12px; /* Dimensione del font ridotta */
    background-color: #f0f8ff;
    color: #333;
    display: block; /* Assicura che il campo di input sia un blocco */
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
    border-color: #0056b3; /* Blu scuro al focus */
    outline: none;
}

/* Stile per il pulsante */
button {
    width: 45%; /* Larghezza del 45% per i bottoni */
    padding: 8px; /* Ridotto il padding */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Dimensione del font mantenuta */
    transition: background-color 0.3s;
    margin: 0 2%; /* Margine orizzontale per separare i bottoni */
}

button[type="submit"] {
    background-color: #00359a;
    color: white;
}

button:hover {
    opacity: 0.8;
}

/* Stile per i messaggi di errore */
.error {
    color: red;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
}