<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Explor3r - HomePage</title>
		<meta name="description" content="My new wonderful website">
		<meta name="author" content="Mister X">
		<link rel="stylesheet" href="/css/home.css?v=1.0">
	</head>
	<body>
		    <header>
    	    <h1> Explor3r</h1>
			<button class="action-btn" onclick="window.location.href='/viaggi'">  Viaggi </button>
			<button class="action-btn" onclick="window.location.href='/login'">  Login </button>
			<button class="action-btn" onclick="window.location.href='/registrazione'">  Registrazione </button>
    	</header>
	</body>
</html>