<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tutorial: Come Usare il Nostro Sito di Viaggi</title>
    <link rel="stylesheet" href="/css/missionStyles.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>

<!-- Header -->
<header>
    <div class="container">
        <div class="logo">
            <a href="/"> <img src="/img/logo_explorer.png" alt="Logo Explorer"></a>
        </div>
        <nav>
            <ul>
                <li><a href="viaggi">Destinazioni</a></li>
                <li id="creaViaggioLink" style="display: none;"><a href="/crea-viaggio">Crea Viaggio</a></li>
                <li><a href="#">Come Funziona</a></li>
                <li><a href="#">Contatti</a></li>
            </ul>
        </nav>
        <div class="login">
            <a href="/login" id="loginLink"><span class="icon"><i class="fas fa-user"></i></span>Accedi</a>
            <a href="/registrazione" id="registerLink"><span class="icon"><i class="fas fa-user-plus"></i></span>Registrati</a>
            <button id="logoutButton" style="display: none;">Logout</button>
        </div>
    </div>
</header>

<!-- Main Content -->
<main class="mission-section">
    <div class="container">
        <h2>La nostra Mission</h2>
        <p>
            Benvenuti su <strong>ViaggioDaSolo</strong>, il social network per i viaggiatori! La nostra missione è quella di connettere persone con la passione per i viaggi, creando opportunità per esplorare il mondo insieme. Vogliamo rendere l'esperienza di viaggio più accessibile e piacevole, aiutando gli utenti a trovare compagni di viaggio con cui condividere avventure indimenticabili.
        </p>
        <p>
            Sulla nostra piattaforma, puoi creare un viaggio o iscriverti a quelli di altri utenti, utilizzando filtri come tipologia, destinazione e data di partenza. Questo ti permette di trovare facilmente esperienze di viaggio che si adattano ai tuoi interessi.
        </p>
        <p>
            Nella home troverai la barra di ricerca e i filtri per trovare viaggi che si adattano alle tue preferenze. Nel menu, puoi accedere alla sezione "Destinazione", dove potrai vedere i viaggi divisi per continente. In basso nella home, troverai i viaggi prossimi alla partenza.
        </p>
        <p>
            Inoltre, nella parte in alto a destra c'è la tua area personale, contrassegnata da "ciao + "il tuo nome utente", dove potrai visualizzare le tue informazioni, i viaggi a cui sei iscritto e quelli che hai creato. Unisciti a noi in questa avventura e trova il tuo prossimo compagno di viaggio!
        </p>
    </div>
    
    <!-- Tutorial Section -->
    <section>
        <h2>Guida Passo-Passo per Usare il Nostro Sito</h2>

        <div class="tutorial-step">
            <h3>Passo 1: Registrazione</h3>
            <img src="/img/registrazione.JPG" alt="Screenshot della pagina di registrazione" class="screenshot">
            <p>Per iniziare, registrati sul nostro sito. Compila i campi richiesti con le tue informazioni e fai clic su "Registrati".</p>
        </div>

        <div class="tutorial-step">
            <h3>Passo 2: Effettua il login</h3>
            <p>Ora, sempre in alto a destra, troverai il bottone "Accedi", clicca e inserisci le tue credenziali. Una volta effettuato l'accesso, verrai reindirizzato alla homepage.</p>
        </div>

        <div class="tutorial-step">
            <h3>Passo 3: Prenotazione di Viaggi</h3>
            <img src="/img/homepage.JPG" alt="Screenshot della pagina di prenotazione" class="screenshot_homepage">
            <p>Congratulazioni, sei dei nostri! Ora non ti resta che scegliere se ricercare un nuovo viaggio usando la barra di ricerca al centro, oppure se cerchi ispirazione puoi cliccare su "Destinazioni" nel menu in alto e ricercare i viaggi tramite coninente.</p>
        </div>
        
        <div class="tutorial-step">
            <h3>Passo 4: Prenotazione di Viaggi</h3>
            <img src="/img/dettagliviaggio.JPG" alt="Screenshot della pagina di prenotazione" class="screenshot_homepage">
            <p>Noterai che ci sono diversi viaggi, quando selezionerai un viaggio specifico, cliccando il bottone "Info", ti si aprirà una pagina come questa dove potrai vedere tutte le informazioni relative al viaggio. Cliccando sul tasto "Iscriviti", ti unirai al viaggio!</p>
        </div>
        
        <div class="tutorial-step">
            <h3>Passo 5: Creazione di un Viaggio</h3>
            <img src="/img/creaviaggio.JPG" alt="Screenshot della pagina di prenotazione" class="screenshot_homepage">
            <p>In alternativa, se nessuno dei viaggi presenti ti soddisfa, puoi crearne uno! Dalla homepage, nel menù in alto, una volta loggato, comparirà il bottone "Crea Viaggio", cliccaci sopra e verrai reindirizzato alla pagina di creazione del viaggio. Ti basterà inserire tutte le informazioni necessarie e cliccare su "Crea Viaggio".</p>
        </div>
        
        <div class="tutorial-step">
            <h3>Passo 6: Eliminazione di un Viaggio</h3>
            <img src="/img/cancellaviaggio.JPG" alt="Screenshot della pagina di prenotazione" class="screenshot_homepage">
            <p>Se hai creato un viaggio ma hai deciso di volerlo eliminare, nella sezione dei dettagli del viaggio potrai eliminarlo cliccando il bottone rosso "Cancella Viaggio".</p>
        </div>
    </section>
</main>

<!-- Footer -->
<footer>
    <div class="container">
        <p>&copy; 2024 Sito di Viaggi. Tutti i diritti riservati.</p>
        <div class="social">
            <a href="#">Facebook</a> <a href="#">Instagram</a> <a href="#">X</a>
        </div>
    </div>
</footer>

<script src="/js/scriptMission.js"></script>
</body>
</html>
