<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ViaggioDaSolo - Dettagli Viaggio</title>
    <link rel="stylesheet" href="/css/viaggioStyles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
</head>
<body>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="logo">
           <a href="/">
            <img src="/img/logo_explorer_converted.png" alt="Logo Explorer">
        </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="viaggi">Destinazioni</a></li>
                    <li><a href="#">Last Minute</a></li>
                    <li><a href="#">Chi siamo</a></li>
                    <li><a href="#">Contatti</a></li>
                </ul>
            </nav>
            <div class="login">
                <a id="loginLink" href="login">Accedi</a>
                <a id="registerLink" href="registrazione">Registrati</a>
                <button id="logoutButton" style="display:none;">Logout</button>
            </div>
        </div>
    </header>

    <!-- Sezione Immagine e Paese -->
    <section id="top-section">
        <div id="immagine-viaggio"></div>
        <div id="paese-viaggio">
            <h2 id="nome-paese">Paese da Visitare</h2>
        </div>
    </section>

    <!-- Sezione Dettagli -->
    <section id="dettagli-viaggio">
        <!-- Contenitore per data di partenza, arrivo e prezzo -->
        <div id="data-prezzo-container">
            <div class="data-prezzo">
                <p>Partenza: <span id="data-partenza"></span></p>
                <p>Arrivo: <span id="data-arrivo"></span></p>
                <p>Prezzo: €<span id="prezzo"></span></p>
            </div>
        </div>

        <!-- Sezione descrizione, itinerario e difficoltà -->
        <div class="descrizione-itinerario">
            <p>Descrizione: <span id="descrizione"></span></p>
            <p>Itinerario: <span id="itinerario"></span></p>
            <p>Tipologia: <span id="tipologia"></span></p>
        </div>
        <div class="descrizione-itinerario">
            <p>Creatore del viaggio: <span id="creatore"></span></p>
        </div>
        <div id="prenota-container">
        <button id="prenotaButton">Iscriviti</button>
        <button id="cancella" hidden>Cancella Viaggio</button>
    </div>
    </section>
    <section id="partecipanti-viaggio">
        <!-- I dettagli del viaggio e i partecipanti saranno mostrati qui -->
    </section>
    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Sito di Viaggi. Tutti i diritti riservati.</p>
            <div class="social">
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
                <a href="#">Twitter</a>
            </div>
        </div>
    </footer>

    <!-- Script esterno -->
    <script src="js/scriptViaggio.js"></script>
</body>
</html>
