<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Viaggi - Sito di Viaggi</title>
    <link rel="stylesheet" href="/css/viaggiStyles.css">
</head>
<body>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="logo">
                <h1>Viaggia da solo</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="viaggi">Destinazioni</a></li>
                    <li><a href="#">Last Minute</a></li>
                    <li><a href="#">Chi siamo</a></li>
                    <li><a href="#">Contatti</a></li>
                </ul>
            </nav>
            <div class="login">
                <a href="#">Accedi</a> / <a href="registrazione">Registrati</a>
            </div>
        </div>
    </header>

    <!-- Sezione Viaggi con Filtri per Continenti -->
    
    <section class="viaggi-in-partenza">
    <div class="container">
        <h2>Esplora le nostre Destinazioni</h2>

        <!-- Filtri per Continenti -->
        <div class="viaggi-list">
            <div class="viaggio" style="background-image: url('img/Europa.jpg');" data-continente="Europa">
                <div class="viaggio-info">
                    <h3>Europa</h3>
                    <a href="viaggiContinente?continente=Europa" class="cta-button">Esplora</a>
                </div>
            </div>
            <div class="viaggio" style="background-image: url('img/AmericaDelNord.jpg');" data-continente="America del Nord">
                <div class="viaggio-info">
                    <h3>America del Nord</h3>
                    <a href="viaggiContinente?continente=America%20del%20Nord" class="cta-button">Esplora</a>
                </div>
            </div>
            <div class="viaggio" style="background-image: url('img/AmericaDelSud.jpg');" data-continente="America del Sud">
                <div class="viaggio-info">
                    <h3>America del Sud</h3>
                    <a href="viaggiContinente?continente=America%20del%20Sud" class="cta-button">Esplora</a>
                </div>
            </div>
            <div class="viaggio" style="background-image: url('img/Asia.jpg');" data-continente="Asia">
                <div class="viaggio-info">
                    <h3>Asia</h3>
                    <a href="viaggiContinente?continente=Asia" class="cta-button">Esplora</a>
                </div>
            </div>
            <div class="viaggio" style="background-image: url('img/Africa.jpg');" data-continente="Africa">
                <div class="viaggio-info">
                    <h3>Africa</h3>
                    <a href="viaggiContinente?continente=Africa" class="cta-button">Esplora</a>
                </div>
            </div>
            <div class="viaggio" style="background-image: url('img/Oceania.jpg');" data-continente="Oceania">
                <div class="viaggio-info">
                    <h3>Oceania</h3>
                    <a href="viaggiContinente?continente=Oceania" class="cta-button">Esplora</a>
                </div>
            </div>
        </div>
    </div>
</section>



    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Sito di Viaggi. Tutti i diritti riservati.</p>
            <div class="social">
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
                <a href="#">Twitter</a>
            </div>
        </div>
    </footer>

</body>
</html>
