<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dettagli Viaggio</title>
    <link rel="stylesheet" href="/css/viaggioStyles.css">
</head>
<body>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="logo">
                <h1>Viaggia da solo</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="viaggi">Destinazioni</a></li>
                    <li><a href="#">Last Minute</a></li>
                    <li><a href="#">Chi siamo</a></li>
                    <li><a href="#">Contatti</a></li>
                </ul>
            </nav>
            <div class="login">
                <a href="#">Accedi</a> / <a href="registrazione">Registrati</a>
            </div>
        </div>
    </header>

    <!-- Sezione Immagine e Paese -->
    <section id="top-section">
        <div id="immagine-viaggio"></div>
        <div id="paese-viaggio">
            <h2 id="nome-paese">Paese da Visitare</h2>
        </div>
    </section>

    <!-- Sezione Dettagli -->
    <section id="dettagli-viaggio">
        <div class="container">
            <!-- Data Partenza, Arrivo e Prezzo -->
            <div class="data-prezzo">
                <p><span>Partenza:</span> <span id="data-partenza"></span></p>
                <p><span>Arrivo:</span> <span id="data-arrivo"></span></p>
                <p><span>Prezzo:</span> €<span id="prezzo"></span></p>
            </div>
            
            <!-- Descrizione, Itinerario e Difficoltà -->
            <div class="descrizione-itinerario">
                <p><span>Descrizione:</span> <span id="descrizione"></span></p>
                <p><span>Itinerario:</span> <span id="itinerario"></span></p>
                <p><span>Difficoltà:</span> <span id="difficolta"></span></p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Sito di Viaggi. Tutti i diritti riservati.</p>
            <div class="social">
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
                <a href="#">Twitter</a>
            </div>
        </div>
    </footer>
    <script src="js/scriptViaggio.js"></script>
</body>
</html>
